<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-control>
          <div>
            <nz-form-label nzFor="title">{{"ITEM" | translate }}<span class="red-color">*</span></nz-form-label>
            <div id="first">
              <nz-select [nzLoading]="isfetchingLookup" [nzDisabled]="true" nzPlaceHolder="{{'CHOOSE_ITEM' | translate }}"
                formControlName="ITEMS_ID">
                <nz-option *ngFor="let item of itemList" [nzValue]="item.ITEMS_ID" [nzLabel]="item.EN_NAME">
                </nz-option>
                <i nz-icon nzType="search" nzTheme="outline"></i>
              </nz-select>
            </div>
            <div id="second">
              <button type="button" [entityType]="'item'" custom-search-popup (onSubmit)="onSelectItems($event)"
                nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
            </div>
          </div>
          <div *ngFor="let validation of validation_messages.ITEMS_ID">
            <nz-form-explain class="red-color"
              *ngIf="ITEMS_ID.hasError(validation.type) && (ITEMS_ID.dirty || ITEMS_ID.touched)">
              {{validation.message | translatecui}}
            </nz-form-explain>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="title">{{"NOTES" | translate }}</nz-form-label>
        <nz-form-control>
          <textarea maxlength="1024" rows="3" nz-input id="NOTES" formControlName="NOTES"
            placeholder="{{'NOTES'| translate }}"></textarea>
        </nz-form-control>
        <div *ngFor="let validation of validation_messages.NOTES">
          <nz-form-explain class="red-color" *ngIf="NOTES.hasError(validation.type) && (NOTES.dirty || NOTES.touched)">
            {{validation.message | translatecui}}
          </nz-form-explain>
        </div>
      </nz-form-item>
    </div>
  </div>
</form>
<div class="footer-button">
  <button type="button" (click)="cancel()" class="ant-btn" style="margin-right: 8px;"><span>{{"CANCEL" | translate }}</span></button>
  <button type="submit" (click)="submitForm()" class="ant-btn ant-btn-primary"><span>{{"SAVE" | translate }}</span></button>
</div>

