<form nz-form nzLayout="'vertical'" [formGroup]="form" role="form" (ngSubmit)="submitForm()" >
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="STORES_ID" *ngIf="!isCustodyTransfer">{{"FROM_STORE" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-label nzFor="STORES_ID" *ngIf="isCustodyTransfer">{{"FROM_EMPLOYEE" | translate }}<span class="red-color">*</span></nz-form-label>
            <!-- <nz-form-control>
              <nz-tree-select [nzNodes]="storeList" nzShowSearch nzPlaceHolder="{{'PLEASE_SELECT' | translate }}"
                formControlName="STORES_ID">
              </nz-tree-select>
              <div *ngFor="let validation of validation_messages.STORES_ID">
                <nz-form-explain class="red-color"
                  *ngIf="STORES_ID.hasError(validation.type) && (STORES_ID.dirty || STORES_ID.touched)">
                  {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control> -->
            <nz-form-control>
                <nz-select [nzLoading]="isfetchingLookup" style="width: 100%; display: block;"
                  nzPlaceHolder="{{'CHOOSE_STORE' | translate }}" formControlName="STORES_ID">
                  <nz-option *ngFor="let store of storeList" [nzValue]="store.STORES_ID"
                    [nzLabel]="lang == 'ar' ? store.AR_NAME: store.EN_NAME">
                  </nz-option>
                </nz-select>
                <nz-form-explain  *ngIf="isCustodyTransfer && STORES_ID.value ">
                   Owner: {{ custodyFrom}} - {{STORES_ID.value}}
                  </nz-form-explain>
                <div *ngFor="let validation of validation_messages.STORES_ID">
                  <nz-form-explain class="red-color"
                    *ngIf="STORES_ID.hasError(validation.type) && (STORES_ID.dirty || STORES_ID.touched)">
                    {{validation.message | translatecui}}
                  </nz-form-explain>
                </div>
              </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="TRANSFER_STORE_ID" *ngIf="isCustodyTransfer">{{"TO_EMPLOYEE" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-label nzFor="TRANSFER_STORE_ID" *ngIf="!isCustodyTransfer">{{"TO_STORE" | translate }}<span class="red-color">*</span></nz-form-label>
            <!-- <nz-form-control>
              <nz-tree-select [nzNodes]="storeList" nzShowSearch nzPlaceHolder="{{'PLEASE_SELECT' | translate }}"
                formControlName="TRANSFER_STORE_ID">
              </nz-tree-select>
              <div *ngFor="let validation of validation_messages.TRANSFER_STORE_ID">
                <nz-form-explain class="red-color"
                  *ngIf="TRANSFER_STORE_ID.hasError(validation.type) && (TRANSFER_STORE_ID.dirty || TRANSFER_STORE_ID.touched)">
                  {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control> -->
            <nz-form-control>
                <nz-select [nzLoading]="isfetchingLookup" style="width: 100%; display: block;"
                  nzPlaceHolder="{{'CHOOSE_STORE' | translate }}" formControlName="TRANSFER_STORE_ID">
                  <nz-option *ngFor="let store of transferStoreList" [nzValue]="store.STORES_ID"
                    [nzLabel]="lang == 'ar' ? store.AR_NAME: store.EN_NAME">
                  </nz-option>
                </nz-select>
                <nz-form-explain  *ngIf="isCustodyTransfer && TRANSFER_STORE_ID.value ">
                    Owner : {{ custodyTo }}
                  </nz-form-explain>
                <div *ngFor="let validation of validation_messages.TRANSFER_STORE_ID">
                  <nz-form-explain class="red-color"
                    *ngIf="TRANSFER_STORE_ID.hasError(validation.type) && (TRANSFER_STORE_ID.dirty || TRANSFER_STORE_ID.touched)">
                    {{validation.message | translatecui}}
                  </nz-form-explain>
                </div>
              </nz-form-control>
          </nz-form-item>
       
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="TRANSFER_DATE" >{{"REQUEST_DATE" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-control>
              <cui-datepicker nzFormat="dd-MMM-yyyy" name="TRANSFER_DATE" formControlName="TRANSFER_DATE"
                id="TRANSFER_DATE"></cui-datepicker>
              <div *ngFor="let validation of validation_messages.TRANSFER_DATE">
                <nz-form-explain class="red-color"
                  *ngIf="TRANSFER_DATE.hasError(validation.type) && (TRANSFER_DATE.dirty || TRANSFER_DATE.touched)">
                  {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="DOCUMENT_NO" *ngIf="!isCustodyTransfer">{{"REQUEST_NO" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-label nzFor="DOCUMENT_NO" *ngIf="isCustodyTransfer">{{"DOCUMENT_NO" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-control>
              <input maxlength="25" nz-input name="DOCUMENT_NO" type="text" id="DOCUMENT_NO"
                placeholder="{{'CHOOSE_DOCUMENT_NO'| translate }}" formControlName="DOCUMENT_NO">
              <div *ngFor="let validation of validation_messages.DOCUMENT_NO">
                <nz-form-explain class="red-color"
                  *ngIf="DOCUMENT_NO.hasError(validation.type) && (DOCUMENT_NO.dirty || DOCUMENT_NO.touched)">
                  {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="INVENTORY_PERIODS_ID">{{"INVENTORY_PERIOD_TYPE" | translate }}<span class="red-color">*</span>
            </nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch [nzLoading]="isfetchingLookup" style="width: 100%; display: block;"
                nzPlaceHolder="{{'CHOOSE_INVENTORY_PERIOD' | translate }}" name="INVENTORY_PERIODS_ID"
                formControlName="INVENTORY_PERIODS_ID">
                <nz-option *ngFor="let invperiod of inventoryperiodlist" [nzValue]="invperiod.INVENTORY_PERIODS_ID"
                  [nzLabel]="invperiod.EN_NAME"></nz-option>
              </nz-select>
              <div *ngFor="let validation of validation_messages.INVENTORY_PERIODS_ID">
                <nz-form-explain class="red-color"
                  *ngIf="INVENTORY_PERIODS_ID.hasError(validation.type) && (INVENTORY_PERIODS_ID.dirty || INVENTORY_PERIODS_ID.touched)">
                  {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="DOCUMENT_DATE">{{"DOCUMENT_DATE" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-control>
              <cui-datepicker nzFormat="dd-MMM-yyyy" name="DOCUMENT_DATE" formControlName="DOCUMENT_DATE"
                id="DOCUMENT_DATE"></cui-datepicker>
              <div *ngFor="let validation of validation_messages.DOCUMENT_DATE">
                <nz-form-explain class="red-color"
                  *ngIf="DOCUMENT_DATE.hasError(validation.type) && (DOCUMENT_DATE.dirty || DOCUMENT_DATE.touched)">
                  {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="DOCUMENT_TYPE_ID">{{"REQUEST_TYPE" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-control>
              <nz-select nzDisabled nzShowSearch [nzLoading]="isfetchingLookup" 
                nzPlaceHolder="{{'CHOOSE_BASE_DOCUMENT' | translate }}" name="DOCUMENT_TYPE_ID" formControlName="DOCUMENT_TYPE_ID">
                <nz-option *ngFor="let doctype of Documnettypelist" [nzValue]="doctype.DOCUMENT_TYPE_ID"
                  [nzLabel]="lang == 'ar' ? doctype.EN_NAME : doctype.AR_NAME"></nz-option>
              </nz-select>
              <div *ngFor="let validation of validation_messages.DOCUMENT_TYPE_ID">
                <nz-form-explain class="red-color"
                  *ngIf="DOCUMENT_TYPE_ID.hasError(validation.type) && (DOCUMENT_TYPE_ID.dirty || DOCUMENT_TYPE_ID.touched)">
                  {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="BASE_DOCUMENT_TYPE_ID">{{"BASE_DOCUMENT_TYPE" | translate }}<span class="red-color">*</span>
            </nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch [nzLoading]="isfetchingLookup" style="width: 100%; display: block;"
                nzPlaceHolder="{{'CHOOSE_BASE_DOCUMENT_TYPE' | translate }}" name="BASE_DOCUMENT_TYPE_ID"
                formControlName="BASE_DOCUMENT_TYPE_ID">
                <nz-option *ngFor="let doctype of Documnettypelist" [nzValue]="doctype.DOCUMENT_TYPE_ID"
                  [nzLabel]="doctype.TRANSACTION_EN_NAME"></nz-option>
              </nz-select>
              <div *ngFor="let validation of validation_messages.BASE_DOCUMENT_TYPE_ID">
                <nz-form-explain class="red-color"
                  *ngIf="BASE_DOCUMENT_TYPE_ID.hasError(validation.type) && (BASE_DOCUMENT_TYPE_ID.dirty || BASE_DOCUMENT_TYPE_ID.touched)">
                  {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div> -->
      </div>
      <div class="row">
        <div class="col-lg-12">
          <nz-form-item>
            <nz-form-label nzFor="title">{{"NOTES" | translate }}</nz-form-label>
            <nz-form-control>
              <textarea maxlength="1024" rows="3" nz-input id="NOTES" formControlName="NOTES"
                placeholder="{{'NOTES'| translate }}"></textarea>
            </nz-form-control>
            <div *ngFor="let validation of validation_messages.NOTES">
              <nz-form-explain class="red-color"
                *ngIf="NOTES.hasError(validation.type) && (NOTES.dirty || NOTES.touched)">
                {{validation.message | translatecui}}
              </nz-form-explain>
            </div>
          </nz-form-item>
        </div>
      </div>
    </div>
  </div>
</form>

