<div class="card">
  <div class="card-header">
    <div class="utils__title">
      <strong>{{ 'PHYSICAL_INVENTORY' | translate }}</strong>
      <button class="float-right" nzType="primary" nz-button [routerLink]="['..']">
        {{ 'OPERATIONS' | translate }}
      </button>
    </div>
    <div class="utils__titleDescription">
      {{ 'PHYSICAL_INVENTORY' | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12">
        <div class="partition">
          <div class="partitionHead">
            <span class="partitionName">{{ 'SEARCH' | translate }}</span>
          </div>
          <div class="input-group">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input
                type="text"
                nz-input
                placeholder="{{ 'INPUT_SEARCH_TEXT' | translate }}"
                (change)="searchItems()"
                [(ngModel)]="searchText"
              />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </div>
          <br />
          <div class="cui-product-details-controls pull-right">
            <button [routerLink]="['add']" nz-button nzType="primary" nzShape="circle">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </div>
        </div>
        <nz-table
          nzBordered
          #itemsDataTable
          [nzData]="invStockTakingModelService.displayData"
          class="utils__scrollTable"
          nzShowSizeChanger
          nzShowTotal
          [nzLoading]="isDataLoading"
        >
          <thead (nzSortChange)="sortData($event)" nzSingleSort>
            <tr>
              <!-- <th class="text-center" nzShowCheckbox></th> -->
              <th nzShowSort nzSortKey="INV_STOCKTAKING_ID" class="text-center" nzLeft="0px">
                {{ 'PHYSICAL_INVENTORY_ID' | translate }}
              </th>
              <!-- <th *ngIf="lang == 'ar'" class="text-center" nzShowSort nzSortKey="DOCUMENT_AR_NAME">
                {{ 'DOCUMENT_NAME' | translate }}
              </th>
              <th *ngIf="lang == 'en'" class="text-center" nzShowSort nzSortKey="DOCUMENT_EN_NAME">
                {{ 'DOCUMENT_NAME' | translate }}
              </th> -->
              <th class="text-center" nzShowSort nzSortKey="DOCUMENT_NO">
                {{ 'DOCUMENT_NO' | translate }}
              </th>
              <th class="text-center">{{ 'ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="itemsDataTable.data">
              <tr>
                <!-- <td nzShowCheckbox (nzCheckedChange)="refreshStatus()"></td> -->
                <td class="text-center">{{ item.INV_STOCKTAKING_ID | translatenumber }}</td>
                <!-- <td *ngIf="lang == 'ar'" class="text-center">{{ item.DOCUMENT_AR_NAME }}</td>
                <td *ngIf="lang == 'en'" class="text-center">{{ item.DOCUMENT_EN_NAME }}</td> -->
                <td class="text-center">{{ item.DOCUMENT_NO }}</td>
                <td class="text-center">
                  <!-- <button nz-button class="mr-1" nzSize="small" [routerLink]="[item.INV_STOCKTAKING_ID]"><i nz-icon
                      type="edit" theme="outline"></i>{{"EDIT" | translate }}</button> -->
                  <button
                    nz-button
                    class="mr-1"
                    nzSize="small"
                    [routerLink]="[item.INV_STOCKTAKING_ID, 'balance']"
                  >
                    <i nz-icon type="edit" theme="outline"></i>{{ 'VIEW' | translate }}
                  </button>

                  <!-- <button
                    nz-popconfirm
                    nzTitle="Are you sure to delete this Document ?"
                    (nzOnConfirm)="deleteInvStocktaking(item.INV_STOCKTAKING_ID)"
                    nz-button
                    class="mr-1"
                    s
                    nzSize="small"
                  >
                    <i nz-icon type="delete" theme="outline"></i> {{ 'REMOVE' | translate }}
                  </button> -->
                </td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
