<div class="card">
  <div class="card-header">
    <div class="utils__title">
      <strong>{{"ITEM_COMPONENTS_SETUP" | translate }}</strong>
      <button class="float-right" nzType="primary" nz-button [routerLink]="['..']">{{"ITEM_MAIN" | translate }}</button>
    </div>
    <div class="utils__titleDescription">
      {{"ITEM_COMPONENTS_SETUP" | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12">
        <div class="partition">
          <div class="partitionHead">
            <span class="partitionName">{{"SEARCH" | translate }}</span>
          </div>
          <div class="input-group">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="{{'INPUT_SEARCH_TEXT'| translate }}" (change)="searchItems()"
                [(ngModel)]="searchText">
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </div>
          <br />
          <div class="cui-product-details-controls pull-right">
            <!-- <nz-dropdown>
              <a nz-dropdown>
                Actions <i nz-icon type="down"></i>
              </a>
              <ul nz-menu nzSelectable>
                <li nz-menu-item [routerLink]="['add']">
                  <i nz-icon [type]="'edit'"></i> New Item Components
                </li>
              </ul>
            </nz-dropdown> -->
            <button [routerLink]="['add']" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button>

          </div>
        </div>
        <!-- <nz-table nzBordered  -->
        <nz-table nzBordered #itemsDataTable [nzData]="itemComponentModelService.displayData"
          class="utils__scrollTable" nzShowSizeChanger nzShowTotal [nzLoading]="isDataLoading">
          <thead (nzSortChange)="sortData($event)" nzSingleSort>
            <tr>
              <!-- <th  class="text-center" nzShowCheckbox></th> -->
              <th  nzShowSort nzSortKey="ITEMS_COMPONENTS_ID" class="text-center">{{"COMPONENT_ID" | translate }}</th>
              <th class="text-center">{{"ITEMS_NAME" | translate }}</th>
              <th class="text-center">{{"COMPONENT_NAME" | translate }}</th>
              <th class="text-center">{{"UNIT_NAME" | translate }}</th>
              <th  class="text-center" nzShowSort nzSortKey="QUANTITY">
                {{'QUANTITY' | translate}}
              </th>
              <th  class="text-center" nzShowSort nzSortKey="ITEM_PRICE">
                {{'ITEM_PRICE' | translate}}
              </th>
              <th  class="text-center" nzShowSort nzSortKey="COST_PERCENTAGE">
                {{"COST_PERCENTAGE" | translate}}
              </th>
              <!-- <th  class="text-center" nzShowSort nzSortKey="STATUS">{{"STATUS" | translate }}
              </th> -->
              <th  class="text-center">{{"ACTIONS" | translate }}</th>
            </tr>
            <!-- <tr>
              <th class="text-center" nzShowSort nzSortKey="ITEM_EN_NAME">{{"ENGLISH_NAME" | translate }}</th>
              <th class="text-center" nzShowSort nzSortKey="ITEM_AR_NAME">{{"ARABIC_NAME" | translate }}</th>
              <th class="text-center" nzShowSort nzSortKey="COMPONENT_ITEM_EN_NAME">{{"ENGLISH_NAME" | translate }}</th>
              <th class="text-center" nzShowSort nzSortKey="COMPONENT_ITEM_AR_NAME">{{"ARABIC_NAME" | translate }}</th>
              <th class="text-center" nzShowSort nzSortKey="UNITS_EN_NAME">{{"ENGLISH_NAME" | translate }}</th>
              <th class="text-center" nzShowSort nzSortKey="UNITS_AR_NAME">{{"ARABIC_NAME" | translate }}</th>
            </tr> -->
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="itemsDataTable.data">
              <tr>

                <!-- <td nzShowCheckbox (nzCheckedChange)="refreshStatus()"></td> -->

                <td class="text-center">{{item.ITEMS_COMPONENTS_ID}}</td>

                <td class="text-center">
                  <a *ngIf="lang == 'en'" class="utils__link--underlined">{{item.ITEM_EN_NAME}}</a>
                  <a *ngIf="lang == 'ar'" class="utils__link--underlined">{{item.ITEM_AR_NAME}}</a>
                </td>
                <!-- <td class="text-center">{{item.ITEM_AR_NAME}}</td> -->
                <td *ngIf="lang == 'en'" class="text-center">{{item.COMPONENT_ITEM_EN_NAME}}</td>
                <td *ngIf="lang == 'ar'" class="text-center">{{item.COMPONENT_ITEM_AR_NAME}}</td>
                <!-- <td class="text-center">{{item.COMPONENT_ITEM_AR_NAME}}</td> -->
                <!-- <td class="text-center">{{item.ITEMS_ID}}</td> -->
                <td *ngIf="lang == 'en'" class="text-center">{{item.UNITS_EN_NAME}}</td>
                <td *ngIf="lang == 'ar'" class="text-center">{{item.UNITS_AR_NAME}}</td>
                <!-- <td class="text-center">{{item.UNITS_AR_NAME}}</td> -->
                <td class="text-center">{{item.QUANTITY}}</td>
                <td class="text-center">{{item.ITEM_PRICE}}</td>
                <td class="text-center">{{item.COST_PERCENTAGE}}%</td>
                <!-- <td>
                  <span *ngIf="item.STATUS === 1" class="badge badge-primary font-size-12">
                    Enabled
                  </span>
                  <span *ngIf="item.STATUS !== 1" class="badge badge-danger font-size-12">
                    Disabled

                  </span>
                </td> -->
                <td class="text-center">
                  <button nz-button class="mr-1" nzSize="small" [routerLink]="[item.ITEMS_COMPONENTS_ID]"><i nz-icon
                      type="edit" theme="outline"></i>
                      {{"VIEW" | translate }}</button>
                  <button nz-popconfirm nzTitle="Are you sure to delete this Item Components ?"
                    (nzOnConfirm)="deleteItemComponent(item.ITEMS_COMPONENTS_ID)" nz-button class="mr-1"
                    nzSize="small"><i nz-icon type="delete" theme="outline"></i>
                    {{"REMOVE" | translate }}</button>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>

