<div class="card">
  <div class="card-header">
    <div class="utils__title">
      <strong>{{"TAX_SCHEME" | translate }}</strong>
    </div>
    <div class="utils__titleDescription">
      {{"TAX_SCHEME" | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12">
        <div class="partition">
          <div class="cui-product-details-controls pull-right">
            <!-- <nz-dropdown>
              <a nz-dropdown>
                Actions <i nz-icon type="down"></i>
              </a>
              <ul nz-menu nzSelectable>
                <li nz-menu-item [routerLink]="['add']">
                  <i nz-icon nzType="plus" nzTheme="outline"></i> New Tax Schema
                </li>
              </ul>
            </nz-dropdown> -->
            <button [routerLink]="['add']" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></button>

          </div>
          <br />
          <div class="partitionHead">
            <span class="partitionName">{{"SEARCH" | translate }}</span>
          </div>
          <div class="input-group">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="{{'INPUT_SEARCH_TEXT'| translate }}" (change)="searchItems()"
                [(ngModel)]="searchText">
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </div>
          <br />

        </div>
        <nz-table #itemsDataTable [nzData]="taxSchemeModelService.displayData" class="utils__scrollTable"
          nzShowSizeChanger nzShowTotal [nzLoading]="isDataLoading">
          <thead (nzSortChange)="sortData($event)" nzSingleSort>
            <tr>
              <!--
                  <th class="text-center"></th>
                  -->
              <!-- <th class="text-center" nzShowCheckbox ></th> -->
              <th class="text-center" nzShowSort nzSortKey="TAX_SCHEME_ID">
                {{'TAX_SCHEMA_ID' | translate}}
              </th>
              <th *ngIf="lang == 'en'" class="text-center" nzShowSort nzSortKey="EN_DESCRIPTION" nzCustomFilter>
                  {{'DESCRIPTION' | translate}}

                <!-- <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
                  <i nz-icon type="search" class="ant-table-filter-icon"
                    [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
                  <div class="search-box">
                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="searchName()" class="search-button">
                      Search
                    </button>
                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                  </div>
                </nz-dropdown> -->
              </th>
              <th *ngIf="lang == 'ar'" class="text-center" nzShowSort nzSortKey="AR_DESCRIPTION" nzCustomFilter>
                {{'DESCRIPTION' | translate}}

                <!-- <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
                  <i nz-icon type="search" class="ant-table-filter-icon"
                    [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>
                  <div class="search-box">
                    <input type="text" nz-input placeholder="{{'SEARCH_NAME'| translate }}" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="searchName()" class="search-button">
                      Search
                    </button>
                    <button nz-button nzSize="small" (click)="reset()">{{"RESET" | translate }}</button>
                  </div>
                </nz-dropdown> -->
              </th>
              <th class="text-center">{{"ACTIONS" | translate }}</th>
              <!-- <th class="text-center" nzShowSort nzSortKey="AR_DESCRIPTION">{{"ARABIC_DESCRIPTION" | translate }}</th> -->
              <!-- <th class="text-center" nzShowSort nzSortKey="SUBSIDARIE_EN_NAME">{{"ENGLISH_SUBSIDARIE" | translate }}</th> -->
              <!-- <th class="text-center" nzShowSort nzSortKey="SUBSIDARIE_AR_NAME">{{"ARABIC_SUBSIDARIE" | translate }}</th> -->

            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="itemsDataTable.data">
              <tr>
                <!--
                  <td class="text-center" nzShowExpand [(nzExpand)]="mapOfExpandData[item.ITEMS_ID]"></td>
                  -->
                <!-- <td nzShowCheckbox (nzCheckedChange)="refreshStatus()"></td> -->

                <td class="text-center">{{item.TAX_SCHEME_ID | translatenumber}}</td>
                <td  *ngIf="lang == 'en'" class="text-center">
                  <a class="utils__link--underlined">{{item.EN_DESCRIPTION}}</a>

                </td>
                <td  *ngIf="lang == 'ar'" class="text-center">
                  <a class="utils__link--underlined">{{item.AR_DESCRIPTION}}</a>

                </td>
                <!-- <td class="text-center">{{item.AR_DESCRIPTION}}</td> -->
                <!-- <td class="text-center">{{item.SUBSIDARIE_EN_NAME}}</td>
                <td class="text-center">{{item.SUBSIDARIE_AR_NAME}}</td> -->
                <td class="text-center">
                  <button nz-button class="mr-1" nzSize="small" [routerLink]="[item.TAX_SCHEME_ID]"><i nz-icon
                      type="edit" theme="outline"></i>
                      {{"EDIT" | translate }}</button>
                  <button nz-popconfirm nzTitle="Are you sure to delete this Tax ?"
                    (nzOnConfirm)="deleteTaxScheme(item.TAX_SCHEME_ID)" nz-button class="mr-1" nzSize="small"><i nz-icon
                      type="delete" theme="outline"></i>
                      {{"REMOVE" | translate }}</button>


              </tr>
              <tr [nzExpand]="mapOfExpandData[item.TAX_SCHEME_ID]">
                <!-- <tr > -->
                <td class="text-center"></td>
                <div class="row">
                  <td colspan="3">English Description : {{item.EN_DESCRIPTION}}</td>
                </div>
                <div class="row">
                  <td colspan="3">Arabic Description : {{item.AR_DESCRIPTION}}</td>
                </div>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>

