<form nz-form nzLayout="'vertical'" [formGroup]="inventoryperiodsgroupForm" (ngSubmit)="submitForm()" role="form">


    <div class="row">

        <div class="col-lg-6">
            <nz-form-item>
                <nz-form-label nzFor="title">{{"ENGLISH_NAME" | translate }}<span class="red-color">*</span>
                </nz-form-label>
                <nz-form-control>


                    <input maxlength="250" nz-input name="EN_NAME" type="text" id="EN_NAME"
                        placeholder="{{'ENGLISH_NAME'| translate }}" formControlName="EN_NAME">

                    <div *ngFor="let validation of validation_messages.EN_NAME">
                        <nz-form-explain class="red-color"
                            *ngIf="EN_NAME.hasError(validation.type) && (EN_NAME.dirty || EN_NAME.touched)">
                            {{validation.message | translatecui}}
                        </nz-form-explain>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>



        <div class="col-lg-6">
            <nz-form-item>
                <nz-form-label nzFor="title">{{"ARABIC_NAME" | translate }}<span class="red-color">*</span>
                </nz-form-label>
                <nz-form-control>


                    <input maxlength="250" nz-input name="AR_NAME" type="text" id="AR_NAME"
                        placeholder="{{'ARABIC_NAME'| translate }}" formControlName="AR_NAME">

                    <div *ngFor="let validation of validation_messages.AR_NAME">
                        <nz-form-explain class="red-color"
                            *ngIf="AR_NAME.hasError(validation.type) && (AR_NAME.dirty || AR_NAME.touched)">
                            {{validation.message | translatecui}}
                        </nz-form-explain>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>


    <div class="row">

        <div class="col-lg-8">
            <nz-form-item>
                <nz-form-label nzFor="title">{{"ENGLISH_DESCIPTION" | translate }}<span class="red-color">*</span>
                </nz-form-label>
                <nz-form-control>

                    <textarea maxlength="1024" rows="3" nz-input id="EN_DESCRIPTION" formControlName="EN_DESCRIPTION"
                        placeholder="{{'ENGLISH_DESCIPTION'| translate }}"></textarea>

                    <div *ngFor="let validation of validation_messages.EN_DESCRIPTION">
                        <nz-form-explain class="red-color"
                            *ngIf="EN_DESCRIPTION.hasError(validation.type) && (EN_DESCRIPTION.dirty || EN_DESCRIPTION.touched)">
                            {{validation.message | translatecui}}
                        </nz-form-explain>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>






        <div class="col-lg-8">
            <nz-form-item>
                <nz-form-label nzFor="title">{{"ARABIC_DESCIPTION" | translate }}<span class="red-color">*</span>
                </nz-form-label>
                <nz-form-control>

                    <textarea maxlength="1024" rows="3" nz-input id="AR_DESCRIPTION" formControlName="AR_DESCRIPTION"
                        placeholder="{{'ARABIC_DESCIPTION'| translate }}"></textarea>

                    <div *ngFor="let validation of validation_messages.AR_DESCRIPTION">
                        <nz-form-explain class="red-color"
                            *ngIf="AR_DESCRIPTION.hasError(validation.type) && (AR_DESCRIPTION.dirty || AR_DESCRIPTION.touched)">
                            {{validation.message | translatecui}}
                        </nz-form-explain>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>

    </div>


    <div class="row">


        <div class="col-lg-6">
            <nz-form-item>
                <nz-form-label nzFor="title">{{"INVENTORY_PERIOD_CODE" | translate }}<span class="red-color">*</span>
                </nz-form-label>
                <nz-form-control>

                    <input maxlength="25" nz-input name="INVENTORY_PERIODS_CODE" type="text" id="INVENTORY_PERIODS_CODE"
                        placeholder="{{'INVENTORY_PERIOD_CODE'| translate }}" formControlName="INVENTORY_PERIODS_CODE">

                    <div *ngFor="let validation of validation_messages.INVENTORY_PERIODS_CODE">
                        <nz-form-explain class="red-color"
                            *ngIf="INVENTORY_PERIODS_CODE.hasError(validation.type) && (INVENTORY_PERIODS_CODE.dirty || INVENTORY_PERIODS_CODE.touched)">
                            {{validation.message | translatecui}}
                        </nz-form-explain>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="col-lg-6">
            <nz-form-item>
                <nz-form-label nzFor="STATUS">{{"STATUS" | translate }}<span class="red-color">*</span></nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 100%; display: block;" nzPlaceHolder="{{'CHOOSE_STATUS' | translate }}"
                        formControlName="STATUS" nzAllowClear>
                        <nz-option *ngIf="lang == 'en'" nzValue="1" nzLabel="Enabled">Enabled</nz-option>
                        <nz-option *ngIf="lang == 'ar'" nzValue="1" nzLabel="مفعل">مفعل</nz-option>
                        <nz-option *ngIf="lang == 'en'" nzValue="2" nzLabel="Disabled">Disabled</nz-option>
                        <nz-option *ngIf="lang == 'ar'" nzValue="2" nzLabel="غير مفعل"></nz-option>
                    </nz-select>
                    <div *ngFor="let validation of validation_messages.STATUS">
                        <nz-form-explain class="red-color"
                            *ngIf="STATUS.hasError(validation.type) && (STATUS.dirty || STATUS.touched)">
                            {{validation.message | translatecui}}
                        </nz-form-explain>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-6">
            <nz-form-item>
                <nz-form-label nzFor="START_DATE">{{"START_DATE" | translate }}</nz-form-label>
                <nz-form-control>
                    <cui-datepicker nzFormat="dd-MMM-yyyy" nzPlaceHolder="{{'START_DATE' | translate }}"
                        formControlName="START_DATE">
                    </cui-datepicker>
                    <div *ngFor="let validation of validation_messages.START_DATE">
                        <nz-form-explain class="red-color"
                            *ngIf="START_DATE.hasError(validation.type) && (START_DATE.dirty || START_DATE.touched)">
                            {{validation.message | translatecui}}
                        </nz-form-explain>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="col-lg-6">
            <nz-form-item>
                <nz-form-label nzFor="END_DATE">{{"END_DATE" | translate }}</nz-form-label>
                <nz-form-control>
                    <cui-datepicker nzFormat="dd-MMM-yyyy" nzPlaceHolder="{{'END_DATE' | translate }}"
                        formControlName="END_DATE">
                    </cui-datepicker>
                    <div *ngFor="let validation of validation_messages.END_DATE">
                        <nz-form-explain class="red-color"
                            *ngIf="END_DATE.hasError(validation.type) && (END_DATE.dirty || END_DATE.touched)">
                            {{validation.message | translatecui}}
                        </nz-form-explain>
                    </div>
                </nz-form-control>
            </nz-form-item>

        </div>



    </div>


    <div class="col-lg-12">
        <div class="form-actions">
            <button nz-button nzType="primary" class="mr-2">{{"SAVE_ITEM" | translate }}</button>
            <button (click)="cancel()" nz-button
                routerLink="/setup/inventory-periods/">{{"CANCEL" | translate }}</button>
        </div>
    </div>
</form>