<div class="card">
  <div class="card-header">
    <div class="utils__title">
      <div>
        <strong>{{"NEW_TEMPORARY_RECEIVING" | translate }}</strong>
        <div class="pull-right">
          <button class="but-class" nz-button nzType="primary" [nzLoading]="savingForm" *ngIf="currentStep==0"
            (click)="submitForm(masterForm)">{{"SAVE" | translate }}</button>
          <button class="but-class" nz-button nzType="primary" [nzLoading]="workFlowLoading" (click)="onSaveAndSubmit()"
            *ngIf="currentStep==1 && operationMasterService.getItems().length > 0 && !workFlowInitiateDone">{{"SUBMIT_REQ" | translate }}</button>
          <button nz-button nzType="primary"  [routerLink]="['..']">{{"RCV_LIST" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <nz-steps [nzCurrent]="currentStep">
      <nz-step [nzTitle]="'TEMPORARY_RECEIVING' | translate" [nzIcon]="loading ? 'loading' : ''"></nz-step>
      <nz-step [nzTitle]="'ITEMS' | translate"></nz-step>
    </nz-steps>

    <!--    STEP-1    -->
    <app-rcv-temporary-form #formComp *ngIf="currentStep==0" >
    </app-rcv-temporary-form>

    <!--    STEP-2 -->
    <div *ngIf="currentStep==1">
      <app-rcv-temporary-items-table [readOnly]="workFlowInitiateDone" [DOCUMENT_ID]="DOCUMENT_ID">
      </app-rcv-temporary-items-table>
    </div>
  </div>
</div>

