<div class="card">
  <div class="card-header">
    <div class="utils__title">
      <strong>{{ 'DEMAND_SETUP' | translate }}</strong>
    </div>
    <div class="utils__titleDescription">
      {{ 'DEMAND_FOR_YOUR_ORGANIZATION_..' | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12">
        <div class="partition">
          <div class="partitionHead">
            <span class="partitionName">{{ 'SEARCH' | translate }}</span>
          </div>
          <div class="input-group">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input
                type="text"
                nz-input
                placeholder="{{ 'INPUT_SEARCH_TEXT' | translate }}"
                (change)="searchItems()"
                [(ngModel)]="searchText"
              />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </div>
          <br />
        </div>
        <nz-table
          nzBordered
          #itemsDataTable
          [nzData]="demandModelService.displayData"
          class="utils__scrollTable"
          nzShowSizeChanger
          nzShowTotal
          [nzLoading]="isDataLoading"
        >
          <thead (nzSortChange)="sortData($event)" nzSingleSort>
            <tr>
              <th [nzWidth]="'150px'" nzShowSort nzSortKey="ITEM_CODE" class="text-center">
                {{ 'ITEM_CODE' | translate }}
              </th>
              <th
                class="text-center"
                nzSortKey="ITEM_EN_NAME"
                nzSortKey="lang == 'en' ? ITEM_EN_NAME : ITEM_AR_NAME"
              >
                {{ 'ITEM_NAME' | translate }}
              </th>
              <th nzSortKey="UNIT_QUANTITY" class="text-center">{{ 'DEMAND' | translate }}</th>
              <!-- <th   class="text-center">{{"QUANTITY_ON_HAND" | translate }}</th> -->
              <!-- <th   class="text-center">{{"UNIT_NAME" | translate }}</th> -->
              <th class="text-center">{{ 'CURRENT_BALANCE' | translate }}</th>
              <th class="text-center">{{ 'DIFFERENCE' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="itemsDataTable.data">
              <tr>
                <td class="text-center">{{ item.ITEM_CODE }}</td>
                <td *ngIf="lang == 'en'" class="text-center">{{ item.ITEM_EN_NAME }}</td>
                <td *ngIf="lang == 'ar'" class="text-center">{{ item.ITEM_AR_NAME }}</td>
                <td class="text-center">{{ item.UNIT_QUANTITY }}</td>
                <!-- <td class="text-center">{{item.QTY_ON_HAND}}</td> -->
                <!-- <td class="text-center">{{item.UNIT_EN_NAME}}</td> -->
                <td class="text-center">{{ item.CURRENT_BALANCE }}</td>
                <td class="text-center">
                  <span *ngIf="item.UNIT_QUANTITY > item.CURRENT_BALANCE">
                    <nz-tag style="width:5em" [nzColor]="'red'">{{
                      item.UNIT_QUANTITY - item.CURRENT_BALANCE
                    }}</nz-tag>
                  </span>
                  <span *ngIf="item.UNIT_QUANTITY <= item.CURRENT_BALANCE">
                    <nz-tag style="width:5em" [nzColor]="'green'">{{
                      item.CURRENT_BALANCE - item.UNIT_QUANTITY
                    }}</nz-tag>
                  </span>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
