<div class="footer">
  <div class="inner">
    <!-- <div class="row">
      <div class="col-lg-12">
        <p>
          <strong>{{"AOT" | translate }}</strong>
        </p>
        <p>
            Inventory management is an important aspect of any successful business. It is the process of overseeing and controlling the flow of inventory units a business uses in the production or manufacture of goods for sale or distribution. Inventories are usually made up of a combination of goods, raw materials and finished products, and effective management of these items is essential to ensure optimal stock levels and to maximize the earning potential of the company   
        </p>
        <p>
            Effective inventory management is important as not only is inventory one of the most valuable assets to a business; there is a direct link between inventory levels and company profits. Inventory represents an investment that is tied up until either the item is sold, or it is used in the production of another item that is sold. Businesses are reliant on having items in stock; otherwise customers will simply go to a competitor who can provide what they want.
        </p>
      </div>
    </div> -->
    <div class="bottom">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="copyright">
            <img src="assets/images/logo-2.png" rel="noopener noreferrer" alt="Aot Software" />
            <span>
              © 2019
              <a >
                Aot Software, All rights reserved
              </a>
              
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>