<form nz-form nzLayout="'vertical'" [formGroup]="storeItemsNoForm" (ngSubmit)="submitForm()" role="form">
  <!-- <h4 class="text-black mb-3">
    <strong>{{"MAIN_INFO" | translate }}</strong>
  </h4> -->
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="title">{{"DOCUMENT_TYPE" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-control>
              <nz-select [nzLoading]="isfetchingLookup" style="width: 100%; display: block;" nzPlaceHolder="{{'CHOOSE_ITEM' | translate }}"
                formControlName="DOCUMENT_TYPE_ID">
                <nz-option *ngFor="let doc of documentTypeList" [nzValue]="doc.DOCUMENT_TYPE_ID" [nzLabel]="doc.EN_NAME || doc.AR_NAME">
                </nz-option>
              </nz-select>
              <div *ngFor="let validation of validation_messages.DOCUMENT_TYPE_ID">
                <nz-form-explain class="red-color"
                  *ngIf="DOCUMENT_TYPE_ID.hasError(validation.type) && (DOCUMENT_TYPE_ID.dirty || DOCUMENT_TYPE_ID.touched)">
                 {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-6">
          <nz-form-item>
            <nz-form-label nzFor="STATUS">{{"STATUS" | translate }}<span class="red-color">*</span></nz-form-label>
            <nz-form-control>
              <nz-select style="width: 100%; display: block;" nzPlaceHolder="{{'CHOOSE_STATUS' | translate }}" formControlName="STATUS"
                nzAllowClear>
                <nz-option nzValue="1" nzLabel="Enabled"></nz-option>
                <nz-option nzValue="2" nzLabel="Disabled"></nz-option>
              </nz-select>
              <div *ngFor="let validation of validation_messages.STATUS">
                <nz-form-explain class="red-color"
                  *ngIf="STATUS.hasError(validation.type) && (STATUS.dirty || STATUS.touched)">
                 {{validation.message | translatecui}}
                </nz-form-explain>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-actions">
          <button nz-button nzType="primary" class="mr-2">{{"SAVE_ITEM" | translate }}</button>
          <button nz-button (click)="cancel()">{{"CANCEL" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</form>

