<div class="card">
  <div class="card-header">
    <div class="utils__title">
      <strong *ngIf="!isCustodyTransfer">{{ 'TRANSFER' | translate }}</strong>
      <strong *ngIf="isCustodyTransfer">{{ 'CUSTODY_TRANSFER_BWT_EMP' | translate }}</strong>
      <button class="float-right" nzType="primary" nz-button [routerLink]="['..']">
        {{ 'OPERATIONS' | translate }}
      </button>
    </div>
    <div *ngIf="!isCustodyTransfer" class="utils__titleDescription">
      {{ 'TRANSFER' | translate }}
    </div>
    <div *ngIf="isCustodyTransfer" class="utils__titleDescription">
      {{ 'CUSTODY_TRANSFER_BWT_EMP' | translate }}
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12">
        <div class="partition">
          <div class="partitionHead">
            <span class="partitionName">{{ 'SEARCH' | translate }}</span>
          </div>
          <div class="input-group">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input
                type="text"
                nz-input
                placeholder="{{ 'INPUT_SEARCH_TEXT' | translate }}"
                (change)="searchItems()"
                [(ngModel)]="searchText"
              />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </div>
          <br />
          <div class="cui-product-details-controls pull-right">
            <button [routerLink]="['add']" nz-button nzType="primary" nzShape="circle">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </div>
        </div>
        <nz-table
          nzBordered
          #itemsDataTable
          [nzData]="invtransferModelService.displayData"
          class="utils__scrollTable"
          nzShowSizeChanger
          nzShowTotal
          [nzLoading]="isDataLoading"
        >
          <thead (nzSortChange)="sortData($event)" nzSingleSort>
            <tr>
              <!-- <th rowspan="2" class="text-center" nzShowCheckbox></th> -->
              <th
                rowspan="2"
                nzShowSort
                nzSortKey="INV_TRANSFER_ID"
                class="text-center"
                nzLeft="0px"
              >
                {{ 'TRANSFER_ID' | translate }}
              </th>
              <th rowspan="2" class="text-center" nzShowSort nzSortKey="DOCUMENT_AR_NAME">
                {{ 'DOCUMENT_NAME' | translate }}
              </th>

              <th *ngIf="!isCustodyTransfer" rowspan="2" nzSortKey="STORE_EN_NAME" class="text-center">
                {{ 'STORE_NAME' | translate }}
              </th>
              <th *ngIf="isCustodyTransfer" rowspan="2" nzSortKey="STORE_EN_NAME" class="text-center">
                {{ 'EMPLOYEE_NAME' | translate }}
              </th>
              <th rowspan="2" nzSortKey="STATUS_NAME" class="text-center">
                {{ 'STATU_NAME' | translate }}
              </th>
              <th rowspan="2" class="text-center">{{ 'ACTIONS' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="itemsDataTable.data">
              <tr>
                <td class="text-center">{{ item.INV_TRANSFER_ID | translatenumber}}</td>
                <td></td>

                <td *ngIf="lang == 'en'" class="text-center">{{ item.STORE_EN_NAME }}</td>
                <td *ngIf="lang == 'ar'" class="text-center">{{ item.STORE_AR_NAME }}</td>

                <td class="text-center">{{ item.STATUS_NAME }}</td>
                <td class="text-center">
                  <button
                    nz-button
                    class="mr-1"
                    nzSize="small"
                    [routerLink]="[item.INV_TRANSFER_ID]"
                  >
                    <i nz-icon type="edit" theme="outline"></i>{{ 'EDIT' | translate }}
                  </button>

                  <!-- <button
                    nz-popconfirm
                    nzTitle="Are you sure to delete this Store ?"
                    (nzOnConfirm)="delteInvTransfer(item.INV_TRANSFER_ID)"
                    nz-button
                    class="mr-1"
                    nzSize="small"
                  >
                    <i nz-icon type="delete" theme="outline"></i> {{ 'REMOVE' | translate }}
                  </button> -->
                </td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
