<i class="icon icmn-star-full"></i>
<div class="inner">
  <div class="title">
    <cui-time-card class="pull-right" [date]="notificationData.CREATED_DATE"></cui-time-card>
    <a  href="javascript: void(0);"
      (click)="openBalanceComponent(notificationData.INV_OPEN_BALANCE_ID,$event)">
      <span>{{"OPEN_BALANCE" | translate}}-{{notificationData.REQUEST_ID}}</span>
    </a>
  </div>
  <div class="descr">
    <nz-button-group>
      <button nzSize="small" [disabled]="notificationData.rejectLoading"  [nzLoading]="notificationData.acceptLoading" nz-button nzType="primary"
        (click)="whenApproveClicked(notificationData,$event)"><i nz-icon nzType="check-circle" nzTheme="fill"></i>
        {{"APPROVE" | translate}}</button>
      <button nzSize="small" [disabled]="notificationData.acceptLoading" [nzLoading]="notificationData.rejectLoading" nz-button nzType="danger"
        (click)="whenRejectClicked(notificationData,$event)"><i nz-icon nzType="close-circle" nzTheme="fill"></i> {{"REJECT" | translate}}
      </button>
    </nz-button-group>
  </div>
</div>

